<!DOCTYPE html>
<html lang="en">

<footer class="bg-dark text-center text-lg-start text-light" id="footer-css-stylesheet">

    <div class="container-fluid p-4" id="social-media-div">
        <!-- Section: Social media -->
        <section class="mb-4">

          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="mailto:rodrigoagponte@gmail.com" role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/rodrigoagponte/" role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/rodrigo-ponte-3a58ba196/" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/rodrigoagponte" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>

        <!-- Copyright Text -->
        <a class="text-light" href="https://mdbootstrap.com/">© 2023 Copyright: rodrigoagponte</a>
    </div>

</footer>

</html>